body{
  margin: 5% auto;
  background-color: lightblue;
}

.container{
  margin:2% 5% 2% 8%;
}

.accordion-panel{
  display: none;
}




.Food{
  color:  #569ed2;
  font-family: "Lato","Arial", sans-serif;
  font-size: 30px;
  font-weight:lighter;
  font-style: oblique;
  margin-left: 50px;
  font-size: 40px;
}


.fa.fa-long-arrow-right{
  font-style: normal;
  padding-right: 10px;
  cursor: pointer;
}

h1:hover>i{
  transform: rotateZ(45deg);
  color: #569ed2;
}

.hide-right-arrow{/*** JS  class  **/
  display: none;
}


.hide-down-arrow{
  display: none;
}

.show-down-arrow{/**  JS class **/
  display:inline;
}

.fa{
  color: #C9DCDF;
}

/*.fa-fa-arrow-down{
  font-size: 10px;
  color: #569ed2;
}*/

p{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  margin-left: 60px;
  max-width: 600px;
  color: #569ed2;
}


.flowers{
  color:  steelblue;
  font-family: "Lota";
  font-size: 18px;
  font-weight: normal;
  margin-left: 89px;
}

li{
  list-style-type: none;
  margin-top: 8px;
  color: #569ed2;
}



.fa.fa-arrow-circle-o-right{
  font-style: normal;
  padding-right: 10px;
}

.visible{
display: block;
}








/*#closed{*/
  /*display: none;*/


/*#open{
  display:block;
}*/

/*.title{
  list-style-type: none;
  font-size: 40px;
}

.paragraph{
  list-style-type: none;
}*/



/*.bullet1{
  list-style-type: none;
}

.bullet2{
  list-style-type: none;
}

.bullet3{
  list-style-type: none;
}*/
