body{
  margin: 2% auto;
  /*display: block;*/
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: white;
}

/*.container{
  margin:2% 5% 2% 8%;
}*/

.container{
  box-sizing: border-box;
  margin:3% 10% 3% 10%;
}

.accordion-panel{
  display: none;
}




/*.Old-school{*/
  /*color:  ##47a3da;*/
  /*font-family: "Open+Sans","Arial", sans-serif;*/
  /*font-size: 30px;*/
  /*font-weight:lighter;*/
  /*font-style: oblique;*/
  /*margin-left: 50px;*/
  /*font-size: 40px;*/
/*}*/


.fa.fa-arrow-right{
  font-style: normal;
  font-size: 75%;
  font-weight: normal;
	font-variant: inherit;
  /*line-height: 0.5;*/
  padding-right: 10px;
  /*transition-delay:  1s;*/
  cursor: pointer;
}

.Old-school{
  margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
  color: #47a3da;
	border-bottom: 1px solid #E0FFFF;
	font-size: 3.5em;
	font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

h1:hover>i{
  transform: rotateZ(45deg);
  color: #569ed2;
}

.hide-right-arrow{/*** JS  class  **/
  display: none;
}


.hide-down-arrow{
  display: none;
}

.show-down-arrow{/**  JS class **/
  display:inline;
}

.fa{
  padding-right: 10px;
  color: #343536;
}

/*.fa-fa-arrow-down{
  font-size: 10px;
  color: #569ed2;
}*/

/*p{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  margin-left: 60px;
  max-width: 600px;
  color: #569ed2;
}*/

p{
  color: #E0FFFF;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5;
	padding: 0.2em 0 1.5em;
	margin: 0;
}

ul{
  margin-left: 1.5em;
}


/*.TV-guide{
  color:  #47a3da;*/
  /*font-family: "Lota";*/
  /*font-size: 20px;*/
  /*font-weight: normal;*/
  /*margin-left: 89px;*/
/*}*/

li{
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.4em;
  padding: 0.5em 0 0.5em;
  margin: 0 0 0.8em;
  /*text-align: -webkit-match-parent;*/
  /*margin-top: 8px;*/
  color: #47a3da;
}



.fa.fa-arrow-circle-o-right{
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  color: #E0FFFF;
  padding-right: 10px;
}

.visible{
display: block;
}








/*#closed{*/
  /*display: none;*/


/*#open{
  display:block;
}*/

/*.title{
  list-style-type: none;
  font-size: 40px;
}

.paragraph{
  list-style-type: none;
}*/



/*.bullet1{
  list-style-type: none;
}

.bullet2{
  list-style-type: none;
}

.bullet3{
  list-style-type: none;
}*/
